.Top {
  display: flex;
  justify-content: center;
  color: white;
}

.Line {
  background-color: white;
  width: 100%;
}

body {
  background-color: black;
}

.text {
  color: white;
  display: flex;
  width: 49%;
  position: absolute;
  right: 1%;
  top: 10%;
}

.text2 {
  color: white;
  display: flex;
  width: 49%;
  position: absolute;
  right: 1%;
  top: 70%;
}

.logo {
  display: flex;
  padding: 1px;
  margin: 1px;
  position: absolute;
  top: 1%;
}


